.container {
	@include flex($gap: 145px);
	@include media($laptop-bp) {
		flex-direction: column;
		gap: 30px;
	}

	@include media($mobile-bp) {
		gap: 24px;
	}
}

.leftSide {
	width: 464px;
	min-width: 464px;

	@include media($mobile-bp) {
		width: 100%;
		min-width: unset;
	}
}

.title {
	font-size: 50px;
	font-weight: 700;

	@include media($laptop-bp) {
		font-size: 36px;
	}

	@include media($mobile-bp) {
		font-size: 32px;
	}
}

.rightSide {
	width: 100%;
}
