.container {
	margin-bottom: 250px;

	@include pseudo() {
		width: 1240px;
		height: 390px;
		right: -119px;
		top: -119px;
		background: url('../../assets/pattern2.png') no-repeat center/contain;
		z-index: -1;
	}

	@include media($laptop-bp) {
		margin-bottom: 130px;

		&:before {
			width: 1000px;
			height: 330px;
			right: -55px;
			top: -45px;
		}
	}

	@include media($mobile-bp) {
		margin-bottom: 80px;

		&:before {
			width: 900px;
			height: 325px;
			right: -50px;
			top: 0;
		}
	}
}

.list {
	@include flex($gap: 29px);
	list-style-type: none;

	@include media($mobile-bp) {
		flex-direction: column;
	}

	& li:first-child {
		min-width: 384px;

		@include media($laptop-bp) {
			width: calc(50% - 29px);
			min-width: calc(50% - 29px);
		}

		@include media($mobile-bp) {
			width: 100%;
			min-width: unset;
		}
	}

	& dt,
	dd {
		display: inline;
	}
}
