.container {
	@include flex(flex-start, space-between, 50px);
	padding-block: 146px 200px;

	@include pseudo() {
		width: 1287px;
		height: 698px;
		left: -110px;
		top: 60px;
		background: url('../../assets/pattern1.png') no-repeat center/contain;
		z-index: -1;
	}

	@include media($laptop-bp) {
		padding-block: 110px 120px;

		&:before {
			width: 1100px;
			height: 500px;
		}
	}

	@include media($mobile-bp) {
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 80px;
	}
}

.info {
	@include flex($align: flex-start);
	align-self: stretch;
	flex-direction: column;
	text-align: left;
	max-width: 611px;
	width: 100%;

	@include media($laptop-bp) {
		max-width: calc(50% - 74px);
	}

	@include media($mobile-bp) {
		max-width: unset;
		gap: 24px;
	}

	&Title {
		font-size: 76px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--primary);

		@include media($laptop-bp) {
			font-size: 50px;
		}

		@include media($mobile-bp) {
			font-size: 36px;
		}
	}

	&Desc {
		max-width: 464px;
		margin-top: auto;
		margin-bottom: 66px;

		@include media($mobile-bp) {
			margin-bottom: 0;
		}
	}
}

.poster {
	z-index: 1;
	border-radius: 50px;
	overflow: hidden;

	img {
		display: block;
		height: auto;
		width: 100%;

		@include media($mobile-bp) {
			max-height: 400px;
		}
	}
}
