.container {
	@include flex($justify: space-between);
	padding-bottom: 50px;
	margin-top: 59px;

	@include media($mobile-bp) {
		flex-direction: column;
		gap: 8px;
	}

	a {
		all: unset;
		cursor: pointer;
		font-weight: 700;
	}
}
