@import 'mixins';

:root {
	--primary: #003156;
	--white: #fff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-button {
		height: 0;
		width: 100%;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--primary);
		border-radius: 50px;
	}

	&::-webkit-scrollbar-track-piece {
		background-color: var(--white);
	}
}

html,
body {
	height: 100%;
	--scroll-behavior: smooth;
	scroll-behavior: smooth;
}

html {
	background-color: var(--white);
	overflow-x: hidden;
}

body {
	color: var(--primary);
}

body,
button {
	font-family: 'Montserrat', sans-serif;
}

a {
	scroll-margin-top: 100px;
	text-decoration: underline;
	transition: opacity 0.3s ease-in-out;

	&:hover {
		text-decoration: none;
		opacity: 0.7;
		transition: opacity 0.3s ease-in-out;
	}
}

button {
	cursor: pointer;
}

p,
a {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;

	@include media($mobile-bp) {
		font-size: 14px;
	}
}

details > summary {
	list-style: none;
}

details > summary::-webkit-details-marker {
	display: none;
}

section,
article {
	scroll-margin-top: 100px;
}
